body{
    background-color: #d3e6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.inf {
    margin-bottom: 50px;
    background-color: #fffec4;
    border-radius: 25px;
    width: 50%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

.desc{
    margin-top: 50px;
    background-color: #fffec4;
    border-radius: 25px;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}


.carousel {
  width: 500px;
  overflow: hidden;
  position: relative;
  margin: auto;

}

.slides {
  display: flex;
  width: 2500px; /* 3 imagens x 500px */
  transition: transform 0.5s ease-in-out;
}

.slide img {
  width: 500px;
}

input[type="radio"] {
  display: none;
}

#slide1:checked ~ .slides {
  transform: translateX(0);
}
#slide2:checked ~ .slides {
  transform: translateX(-500px);
}
#slide3:checked ~ .slides {
  transform: translateX(-1000px);
}

#slide4:checked ~ .slides {
  transform: translateX(-1500px);
}

#slide5:checked ~ .slides {
  transform: translateX(-2000px);
}

.navigation {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.navigation label {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: gray;
  margin: 0 5px;
  cursor: pointer;
}

input[type="radio"]:checked + .slides + .navigation label {
  background-color: black;
}